<meta charset="utf-8">
<title>DrawTalk</title>
<link rel="stylesheet" href="stylesheets/Skeleton/css/normalize.css"/>
<link rel="stylesheet" href="stylesheets/Skeleton/css/skeleton.css"/>
<link rel="stylesheet" href="stylesheets/global.css" />
<script src="/bower_components/jquery/dist/jquery.js"></script>
