<!-- TODO: Use EACH function here to loop through layers -->

<div class="two columns right" id="layerSidebar">
  <h5>Layers</h5>
  <ul>
    <li class="layerItem">
      <h6>Layer 3</h6>
    </li>
    <li class="layerItem">
      <h6>Layer 2</h6>
    </li>
    <li class="layerItem">
      <h6>Layer 1</h6>
    </li>
    <li class="layerItem" id="backgroundLayer">
      <h6>Layer 0</h6>
    </li>
  </ul>
</div>
