<!-- TODO: Use EACH function here to loop through layers -->

<div class="two columns right center" id="layerSidebar">
  <button class="button button-primary center" id="saveButton">Save</button>
  <h5>Layers</h5>
  <ul>
    <li class="layerItem">
      <button type="button" class="button layerButton"></button>
    </li>
    <li class="layerItem">
      <button type="button" class="button layerButton"></button>
    </li>
    <li class="layerItem">
      <button type="button" class="button layerButton"></button>
    </li>
    <li class="layerItem" id="backgroundLayer">
      <button type="button" class="layerButton button"></button>
    </li>
  </ul>
</div>
<script type="text/javascript" src="/scripts/partials/layers.js"></script>
