<!-- TODO: Use EACH function here to loop through layers -->
<link rel="stylesheet" href="stylesheets/partials/layers.css" />
<div class="two columns right center" id="layerSidebar">
  <h5>Layers</h5>
  <ul id="layers">

  </ul>
  <button class="button button-primary center" id="saveButton">Save</button>

</div>
<script type="text/javascript" src="/scripts/partials/layers.js"></script>
