<!-- TODO: Use EACH function here to loop through layers -->
<link rel="stylesheets/partials/layers.css"/>
<div class="two columns right center" id="layerSidebar">
  <button class="button button-primary center" id="saveButton">Save</button>
  <h5>Layers</h5>
  <ul>
    <li class="layerItem">
      <button type="button" class="button layerButton" id="backgroundLayer"></button>
        <div class="info">
          <ul class="layerData ">
            <li class="center">
              <p>Opacity: 100%</p>
            <p>Blend: Normal</p>
          </li>
            </ul>
        </div>
    </li>
    <li class="layerItem">
      <button type="button" class="button layerButton" id="backgroundLayer"></button>
        <div class="info">
          <ul class="layerData ">
            <li class="center">
              <p>Opacity: 0%</p>
            <p>Blend: Normal</p>
          </li>
            </ul>
        </div>
    </li>
  </ul>
</div>
<script type="text/javascript" src="/scripts/partials/layers.js"></script>
