<!-- TODO: Get local library for UI -->
<div class="twelve columns">
  <link rel="stylesheet" href="/stylesheets/partials/nav.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <div class="nav">
    <a class="button left" id="logo" href="/">DrawTalk </a>
    <% if (!user) { %>
      <ul class="navItems right">
      <li><a class="button right" href="/about" id="aboutButton">About</a></li>
      <li><button class="button button-primary right" id="loginButton">Log In</button></li>
    </ul>
      <% } else { %>
      <ul class="navItems right">
        <li> <a class="button" href="/documents"> <%= user.displayName %> </a> </li>
        <li><a class="button button-primary right" href="/logout">Log Out</a></li>
      </ul>
      <% } %>
  </div>
  <div id="loginModal" title="Log In">
    <% include login %>
  </div>
  <script src="/scripts/partials/loginModal.js"></script>
</div>
