<!-- TODO: Link actual libraries not CDN -->
<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/2.6.4/svg.js"></script>
    <script src="/scripts/speech-lib.js"></script>
    <link rel="stylesheet" href="stylesheets/canvas.css" />
  </head>

  <body class="container">
    <div class="row">
      <% include partials/nav %>
        <% include partials/layers %>
      <div class="nine columns removeMarginLeft" >
      <div id="drawing"></div>

      <div class="controlButtons">
      <button id="menuCreateButton">Create</button>
      <button id="menuInsertButton">Insert</button>
      <button id="menuExportButton">Export</button>
    </div>

        <% include partials/userCommands/createShape %>
        <% include partials/userCommands/insertMedia %>
        <% include partials/userCommands/exportDocument %>
        <% include partials/footer %>
  </div>
  </body>
  <script src="/scripts/canvas.js"></script>
  <script src="/scripts/userCommands/createShape.js"></script>
  <script src="/scripts/userCommands/insertMedia.js"></script>
  <script src="/scripts/userCommands/layer.js"></script>
  <script src="/scripts/userCommands/exportDocument.js"></script>

</html>
