<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>DrawTalk</title>
    <link rel="stylesheet" href="stylesheets/grid.css" />
    <link rel="stylesheet" href="stylesheets/global.css" />
    <link rel="stylesheet" href="stylesheets/profile.css" />

    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <!-- <script src="/bower_components/svg/dist/svg.js"></script> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/2.6.4/svg.js"></script>
    <script src="/scripts/speech-lib.js"></script>

</head>


<body class="container">

    <div class="row">
        <div class="nav col-12">
            <h1 class="left" id="logo">DrawTalk </h1>
            <h1 id="username" class="right">  <%= user.displayName %>  <br>   <a class="right" href="/logout">Log out</a></h1>
        </div>
        <div class="col-12" id="canvas-container">
          <div id="drawing"></div>
        </div>
    </div>
    </div>

    <script src="/scripts/create.js"></script>

    <link rel="stylesheet" href="stylesheets/create.css" />
</body>

</html>
