<!-- TODO: Link actual libraries not CDN -->
<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/2.6.4/svg.js"></script>
    <script src="/scripts/speech-lib.js"></script>
    <link rel="stylesheet" href="stylesheets/create.css" />
  </head>

  <body class="container">
    <div class="row">
      <div class="twelve columns">
      <% include partials/nav %>
      <div id="drawing"></div>
    </div>
  </div>
  </body>
  <script src="/scripts/create.js"></script>
</html>
