<!DOCTYPE html>
<html>
<head>
  <% include partials/head %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="stylesheets/documents.css" />
</head>

<body class="container">

    <div class="row">
      <% include partials/nav %>
      <div class="twelve columns">
          <% include partials/userCommands/createDocument %>
          <div class="three columns box" id="newDocument"></div>
          <div class="three columns box"></div>
          <div class="three columns box"></div>
          <div class="three columns box"></div>

        </div>
        <% include partials/footer %>
    </div>
    <script src="/scripts/documents.js"></script>
</body>

</html>
