<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DrawTalk</title>

    <link rel="stylesheet" href="stylesheets/Skeleton/css/normalize.css"/>
    <link rel="stylesheet" href="stylesheets/Skeleton/css/skeleton.css"/>
    <link rel="stylesheet" href="stylesheets/global.css"/>
    <link rel="stylesheet" href="stylesheets/home.css"/>


  </head>
  <body class="container">
    <div class="row">

      <div class="twelve colums centered">
        <div class="nav col-12">
            <h1 class="left" id="logo">DrawTalk </h1>
            <h1 id="username" class="right">  </h1>
        </div>
        <% if (!user) { %>
        	<p>Welcome! <br>
            
          <a class="button button-primary" href="/login">Log In</a>

        <% } else { %>
        	<p>Hello, <%= user.username %>. View your <a class="link" href="/profile">documents</a>.</p>
        <% } %>
    </div>
  </div>
  </body>
</html>
