<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DrawTalk</title>

    <link rel="stylesheet" href="stylesheets/grid.css"/>
    <link rel="stylesheet" href="stylesheets/global.css"/>
    <link rel="stylesheet" href="stylesheets/home.css"/>


  </head>
  <body>

  <% if (!user) { %>
  	<p>Welcome! Please <a href="/login">log in</a>.</p>
  <% } else { %>
  	<p>Hello, <%= user.username %>. View your <a href="/profile">profile</a>.</p>
  <% } %>

  </body>
</html>
