<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <% include partials/head %>
  <link rel="stylesheet" href="stylesheets/index.css" />
  </head>

  <body class="container">
    <div class="row">
      <% include partials/nav %>
      <div class="twelve colums">
        <div id="loginModal" title="Log In">
          <% include partials/login %>
        </div>
      </div>
      <div class="homePageText">
        <div class="six columns">
          <p>DrawTalk is a drawing and design application, rooted in a commitment to accessible engineering and design. Activated and controlled by speech, users are able to create digital, SVG based pieces of work using only their voices.</p>
        </div>
      </div>
      <% include partials/footer %>
    </div>
    <script src="/scripts/loginModal.js"></script>
  </body>
</html>
