<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <% include partials/head %>

</head>

<body class="container">
  <div class="row">

  <div class="twelve colums centered">
    <% include partials/nav %>
  </div>
</div>
</body>

</html>
