<!DOCTYPE html>
<html>
<head>
  <% include partials/head %>
    <link rel="stylesheet" href="stylesheets/profile.css" />
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="/scripts/profile.js"></script>
</head>

<body class="container">

    <div class="row">
      <% include partials/nav %>

        <div class="col-12 center">
            <div id="createDocumentModal" title="Create New Document">
                <form action="/create" method="get">
                    <div class="row">
                        <div class="six columns">
                            <label for="documentName">Document Name
                              <input class="u-half-width" type="text" placeholder="Document One" id="documentName">
                            </label>
                        </div>
                    </div>
                    <label for="DocumentSize">Document Size</label>
                    <label for="documentWidth">Width
                      <input class="u-half-width" type="text" placeholder="500px" id="documentWidth">
                  </label>
                    <label for="documentHeight">Height
                      <input class="u-half-width" type="text" placeholder="200px" id="documentHeight">
                    </label>
                    <input class="button-primary" type="submit" value="Create">
                </form>
            </div>
            <div class="three columns box" id="newDocument"></div>
            <div class="three columns box"></div>
            <div class="three columns box"></div>
            <div class="three columns box"></div>

        </div>

    </div>
</body>

</html>
