#drawing {
  border: 1px solid #f4f4f6;
  box-shadow: 2px 2px 31px 1px rgba(0,0,0,0.12);
}

#createDocumentModal input{
  float: right;
}

#createShapeModal, #insertMediaModal, #layerModal {
  display: none;
}

#layerModal ul{
  text-align: center;
}

.ui-dialog {
  position: absolute;
  top: 150px;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
 }
