#drawing {
  border: 1px solid #f4f4f6;
  box-shadow: 2px 2px 31px 1px rgba(0,0,0,0.12);
}

#createDocumentModal input{
  float: right;
}

#createShapeModal,
#insertMediaModal,
#layerModal,
#exportDocumentModal {
  display: none;
}

#layerModal ul{
  text-align: center;
}

.ui-dialog {
  position: absolute;
  top: 150px;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
 }


.layerItem:not(#backgroundLayer) {
  border-bottom: 1px solid #f4f4f6;
}
.layerButton {
  margin-bottom: 4rem;
}
#layerSidebar {
  padding: 10px;
  border: 1px solid #f4f4f6;
  box-shadow: 2px 2px 31px 1px rgba(0,0,0,0.12);
}

#saveButton {
  background: #f06033;
  border-color: #f06033;
}

#saveButton:hover {
  background: #f05033;
  border-color: #f05033;
}

.controlButtons {
  margin-top: 10px;
}
.info {
  display: none;
}
