@import url('https://fonts.googleapis.com/css?family=Lato:300|Roboto:100');
* {
  font-family: 'Lato';
}

label {
  margin-bottom: 30px;
}

.left {
  float: left;
}

.right {
  float: right;
}
.center {
  text-align: center;
}

h1 {
  font-size: 4rem;
}
a {
  text-decoration: none;
}

#logo {
  font-size: 20px;
  letter-spacing: 1rem;
}
.container {
  height: 100vh;
  width: 1200px;
}
.ui-dialog {
  background: white;
  padding: 10px;
  box-shadow: 2px 2px 31px 1px rgba(0,0,0,0.12);
  position: absolute;
  top: 10%;
  right: 0%;
}
.ui-dialog-titlebar-close {
  float: right;
  font-size: 10px;
  line-height: 33px;
  height: 33px;
  padding: 0 10px;
}
.ui-dialog-title {
  line-height: 33px;
}
.ui-dialog-titlebar {
  padding-bottom: 25px;
}
.italics {
  font-style: oblique;
}
.ui-dialog-title {
  text-transform: uppercase;
}

#loginModal {
  display: none;
}
