.box {
  height: 200px;
  background: #f7f4f4;
}

[id=new] {
  background-image: url('/images/plus.png');
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

[id=new]:hover {
  background: #e9e6e6;
  background-image: url('/images/plus-dark.png');
  background-repeat: no-repeat;
  background-position: center;
}
