
<div id="createShapeModal" title="Create a Shape">
  <form>
        <label for="shapeType">Type
          <input class="u-half-width right" type="text" placeholder="Square" id="shapeType">
          </label>
          <label for="shapePositionX">Position X
            <input class="u-half-width right" type="text" placeholder="200px" id="shapeX">
          </label>
          <label for="shapePositionY">Position Y
            <input class="u-half-width right" type="text" placeholder="150px" id="shapeY">
          </label>
        <label for="shapeWidth">Width
          <input class="u-half-width right" type="text" placeholder="50px" id="shapeWidth">
        </label>
        <label for="shapeHeight">Height
          <input class="u-half-width right" type="text" placeholder="40px" id="shapeHeight">
        </label>
        <label for="shapeFill">Fill
          <input class="u-half-width right" type="text" placeholder="Red" id="shapeFill">
        </label>
        <label for="shapeHeight">Stroke
          <input class="u-half-width right" type="text" placeholder="Blue" id="shapeStroke">
        </label>
        <label class="center">
          <button type="button" class="button button-primary" id="createShapeButton">Create Shape</button>
        </label>
    </form>
</div>
