
<div id="createShapeModal">
  <form>
        <label for="shapeType">Shape Type
          <input class="u-half-width right" type="text" placeholder="Square" id="shapeType">
          </label>
        <label for="shapePosition">Shape Position (X, Y)
          <input class="u-half-width right" type="text" placeholder="200px" id="shapeX">
          <input class="u-half-width right" type="text" placeholder="150px" id="shapeY">
      </label>
        <label for="shapeWidth">Shape Width
          <input class="u-half-width right" type="text" placeholder="50px" id="shapeWidth">
        </label>
        <label for="shapeHeight">Shape Height
          <input class="u-half-width right" type="text" placeholder="40px" id="shapeHeight">
        </label>
        <a class="button button-primary" href="/canvas">Create Shape</a>
    </form>
</div>
