<div id="createDocumentModal" title="Create New Document">
    <form>
      <!-- action="/create" method="get" -->
        <label for="documentName">Document Name
          <input class="u-half-width right" type="text" placeholder="Document One" id="documentName">
          </label>
        <label for="documentWidth">Width
          <input class="u-half-width right" type="text" placeholder="500px" id="documentWidth">
      </label>
        <label for="documentHeight">Height
          <input class="u-half-width right" type="text" placeholder="200px" id="documentHeight">
        </label>
        <!-- <input class="button-primary" type="submit" value="Create"> -->
        <a class="button button-primary" href="/canvas">Create</a>

    </form>
</div>
