<div id="exportDocumentModal" title="Create a Shape">
  <form>
  <label for="exportName">Export Name
    <input class="u-half-width right" type="text" placeholder="My great design" id="exportName">
    </label>
    <label for="exportFormat">Export Format
      <select class="u-half-width right" id="exportFormatInput">
        <option value="1">SVG</option>
        <option value="2">JPEG</option>
        <option value="3">TIFF</option>
        <option value="4">PNG</option>
      </select>
    </label>
    <label class="center">
      <button type="button" class="button button-primary" id="exportDocumentButton">Export Document</button>
    </label>
  </form>
</div>
