<div id="insertMediaModal" title="Insert Media">
  <form>
        <label for="imageName">Image
          <input class="u-half-width right inputfile" type="file" id="imageName">
          <button type="button" class="button right" onclick="document.getElementById('fileInput').click();"></button>
          </label>
          <label for="chartName">Chart
            <input class="u-half-width right" type="text" placeholder="upload chart data" id="chartName">
          </label>
        <label for="mapName">Map
          <input class="u-half-width right" type="text" placeholder="inuput map data" id="mapName">
        </label>
        <label for="textBoxInput">Text
          <textarea class="u-half-width right" placeholder="Text here" id="textBoxInput"></textarea>
        </label>
        <br><br><br>
        <label class="center">
          <button type="button" class="button button-primary" id="insertMediaButton">Insert Media</button>
        </label>
    </form>
</div>
