<div id="layerModal" title="Layers">
  <form>
    <ul>
          <li><button type="button" id="fillObject" class="button right">Fill</button></li>
          <li><button type="button" id="strokeObject" class="button right">Stroke</button></li>
          <li><button type="button" id="moveObject"class="button right">Move</button></li>
          <li><button type="button" id="rotateObject" class="button right">Rotate</button></li>
          <li><button type="button" id="scaleObject" class="button right">Scale</button></li>
      </ul>
        <label class="center">
          <button type="button" class="button button-primary" id="layerButton">Deselect Layer</button>
        </label>
    </form>
</div>
